* { margin: 0; padding: 0;}

body, html
{
	height:100%;
	background-color: #101010;
}

canvas
{
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
	display:block;
    background-color:transparent;
	background-image: url("sprites/bg.jpg");
	background-repeat: repeat;
}

img
{
	margin: auto;
	max-width: 100%;
}

.menu
{
	text-align: center;
    margin: auto;
    width: 15%;
	min-width: 200px;
	max-height: 90%;
    border: 3px solid black;
    padding: 10px;
	position: absolute;
	background-color: white;
	display:block;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: "Helvetica";
	overflow: scroll;
}

.qrcode
{
    margin: auto;
    width: 90%;
}



