* { margin: 0; padding: 0;}

body, html
{
	height:100%;
	background-color: #101010;
	overflow: hidden;
}

p
{
	padding-bottom: 5px;
}

canvas
{
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
	display:block;
    background-color:transparent;
	background-image: url("sprites/bg.png");
	background-size: 160px 160px;
	background-repeat: repeat;
	image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
	image-rendering: -moz-crisp-edges;          /* Firefox                        */
	image-rendering: -o-crisp-edges;            /* Opera                          */
	image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
	image-rendering: pixelated; /* Chrome */
	-ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

img
{
	margin: auto;
	max-width: 100%;
}

.menu
{
	text-align: center;
    margin: auto;
    width: 15%;
	min-width: 300px;
	max-height: 90%;
    border: 3px solid black;
    padding: 10px;
	position: absolute;
	background-color: white;
	display:block;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: "Helvetica";
	overflow-y: auto;
}

.qrcode
{
    margin: auto;
    width: 90%;
}



