canvas{
    background-color:transparent;
    display:block;
    position:absolute;
}
body{
	background-image: url("bg.jpg");
    background-repeat: repeat;
}
.container{
    width:auto;
    text-align:center;
    background-color:#ff0000;
}


